* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(208, 255, 239);
    color: white;
}

header {

    background-color: rgb(72, 179, 143);
    color: white;
}

footer {
    width: 100%;
    
    background-color: rgb(72, 179, 143);
    color: white;
}

.contact-info {
    
    color: black;
  }

